@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
}

.text-body {
  font-size: var(--text-body);
  font-weight: 300;
}

.text-body-bold {
  font-size: var(--text-body);
  font-weight: 600;
}

.text-heading {
  font-size: var(--text-heading);
  font-weight: 800;
}

.text-title {
  font-size: var(--text-title);
  font-weight: 800;
}
