:root {
  --primary-color: hsl(0, 0%, 100%);
  --background-color: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);

  --text-body: 14px;
  --text-heading: 16px;
  --text-title: 24px;

  --spacing: 4px;
  --max-width: 1232px;
}

[data-theme='dark'] {
  --primary-color: hsl(209, 23%, 22%);
  --background-color: hsl(207, 26%, 17%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
}
