.MainLayout__content {
  background-color: var(--color-background);
}

.MainLayout__content > div {
  --gap: calc(var(--spacing) * 18);
  max-width: calc(var(--max-width));
  padding: 0 var(--gap);
}
