.CountryDetails {
  --gap: calc(var(--spacing) * 19);
  padding: var(--gap) 0;
}

.CountryDetails__actionRow {
  margin-bottom: var(--gap);
}

.CountryDetails__content {
  --main-column-count: 2;

  display: grid;
  grid-template-columns: repeat(var(--main-column-count), 1fr);
  grid-template-rows: auto;
  align-items: center;
  gap: var(--gap);
}

.CountryDetails__content__title,
.CountryDetails__content__borderCountries {
  padding-bottom: calc(var(--spacing) * 8);
}

.CountryDetails__content__itemList {
  --details-column-count: 2;

  display: grid;
  grid-template-columns: repeat(var(--details-column-count), 1fr);
  grid-template-rows: auto;
  row-gap: calc(var(--spacing) * 3);
}

@media (max-width: 1175px) {
  .CountryDetails__content__itemList {
    --details-column-count: 1;
  }
}

@media (max-width: 660px) {
  .CountryDetails__content {
    --main-column-count: 1;
  }
}
