.CountryDetails__actionRow {
  padding: calc(var(--spacing) * 19) 0;
}

.CountryDetails__content {
  gap: calc(var(--spacing) * 28);
}

.CountryDetails__content__title,
.CountryDetails__content__borderCountries {
  padding: calc(var(--spacing) * 8) 0;
}

.CountryDetails__content__itemList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  row-gap: calc(var(--spacing) * 3);
}
